<?xml version='1.0' encoding='utf-8'?>
<widget id="com.marketsoup.driverapp" version="1.1.6" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Starlight Driver</name>
    <description>
        Driver application for Starlight.
    </description>
    <author email="dan.weber@starlightprooperations.com" href="http://cordova.io">
        Marketsoup, Inc.
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon density="mdpi" height="57" platform="android" src="res/android/red_truck.png" width="57" />
    <feature name="InAppBrowser">
        <param name="ios-package" value="CDVInAppBrowser" />
        <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
    </feature>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="Fullscreen" value="false" />
    <preference name="android-windowSoftInputMode" value="adjustResize" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~5.2.2" />
    <plugin name="cordova-plugin-camera" spec="~2.2.0" />
    <plugin name="cordova-plugin-geolocation" spec="~2.4.0" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="com.borismus.webintent" spec="https://github.com/chrisekelley/cordova-webintent.git" />
    <plugin name="cordova-plugin-background-mode" spec="~0.7.2" />
</widget>
