@import "../../styles/normalize.css";
@import "../../styles/vars.css";

.wrapper {
  @mixin page 6rem, 2rem;
}

.header {
  @mixin header 1/2;
}

.form {
  @mixin form 2/2, 0, 2rem;
}

.message {
  padding: 2rem 0;
  text-align: center;

  p {
    margin-bottom: 2rem;
  }

  >a {
    @mixin link;
  }
}

.logo {
  margin-bottom: 1rem;
}

.title {
  @mixin font;
  font-size: 1.4rem;
  font-weight: normal;
  text-align: center;
}
